<a href="https://colab.research.google.com/github/miriampaul/AnalysisPandasProfilingEDA/blob/main/Decision_Tree_%26_Random_Forest_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Adult Income Prediction Problem Understanding:
Predict whether income exceeds 50K per year based on census data:
Adult income datasets : Age, wc, education, marital status, race, gender, hours per week, income class

In [1]:
import pandas as pd
data=pd.read_csv("/content/04+-+decisiontreeAdultIncome.csv")

In [2]:
data1=data.copy()

In [3]:
#Check for null values
data.isnull().sum(axis=0)

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [4]:
#Check the datatypes
data.dtypes

age                int64
wc                object
education         object
marital status    object
race              object
gender            object
hours per week     int64
IncomeClass       object
dtype: object

In [5]:
#Create dummy variables
data_prep=pd.get_dummies(data, drop_first=True)

In [6]:
data_prep

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,True,True,False
1,28,40,False,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False
2,37,40,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False
3,31,50,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,True
4,42,40,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,True,True,True
19783,22,40,False,False,True,False,False,False,False,False,True,True,False,False,False,False,False,True,True,False
19784,40,40,False,False,True,False,True,False,False,False,False,False,False,True,False,False,False,True,True,True
19785,58,40,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False
19786,22,20,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False

In [7]:
#Create the X and Y variables
X=data_prep.iloc[: , :-1]

In [8]:
Y=data_prep.iloc[:, -1]

In [10]:
Y

0        False
1        False
2        False
3         True
4         True
         ...
19782     True
19783    False
19784     True
19785    False
19786    False
Name: IncomeClass_ >50K, Length: 19787, dtype: bool

In [11]:
#split the X and Y datasets into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=\
train_test_split(X, Y, test_size=0.3, random_state=1234, stratify=Y)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
#Train the model
dtc=DecisionTreeClassifier(random_state=1234)
dtc.fit(X_train, Y_train)
Y_predict=dtc.predict(X_test)

In [22]:
#Evaluate the model
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test, Y_predict)
score=dtc.score(X_test, Y_test)

In [29]:
cm

array([[3814,  559],
       [ 800,  764]])

In [30]:
score

0.7710965133906014

In [31]:
#Import Random forest classifier from sklearn
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(random_state=1234)
rfc.fit(X_train, Y_train)
Y_predict=rfc.predict(X_test)
#Evaluate the model
cm2=confusion_matrix(Y_test, Y_predict)
score2=rfc.score(X_test, Y_test)

In [33]:
cm2

array([[3889,  484],
       [ 708,  856]])